.mainBoard__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.board__container {
  max-height: 9rem;
  min-height: 9rem;
  overflow: scroll;
  margin-right: 2rem;
  border: 2px solid #000;
}

.board__extras, .board__actions {
  min-height: 6rem;
}

.board__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete-btn {
  background-color: #fff;
  border: 2px solid #000;
  padding: .5em;
}

.delete-btn:hover {
  background-color: rgb(0, 213, 255);
  cursor: pointer;
}